body {
  background-color: #9f4242;
}
.grid-container {
  height: 100vh;
  /* for the row to cover vh height should be specified */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 30vh;
  /* for netfilx horizontal scrolling chage auto-flow whose default is row
  grid-auto-flow: column; 
  */
  gap: 12px;
}
.item {
  background-color: #b9ebff;
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 24px;
}
@media (max-width: 56em) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 40em) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
