body {
  background-color: #ffde20;
}
.grid-container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 15vh;
  gap: 12px;
  grid-template-areas:
    "a a b"
    "a a b"
    "a a b"
    "c d b"
    "c d e"
    "c d e";
}
.item {
  background-color: #845d1c;
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 24px;
}
@media (max-width: 56em) {
  .grid-container {
    grid-template-areas:
      "a a"
      "d d"
      "d d"
      "b c"
      "e e"
      "f f";
  }
}
