body {
  background-color: rgb(211, 255, 184);
}
.grid-container {
  display: grid;
  /* grid-auto-columns: 20rem;
  grid-auto-rows: 20rem; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 98vh;
  gap: 12px;
  grid-template-areas:
    "a a b c"
    "d d e e"
    "d d f f";
}
.item {
  background-color: rgb(0, 162, 255);
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 28px;
}
@media (max-width: 56em) {
  .grid-container {
    grid-template-areas:
      "a a"
      "d d"
      "d d"
      "b c"
      "e e"
      "f f";
  }
}
